.side-link img {
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

.side-link {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    width: 204px;
    flex-wrap: wrap;
    cursor: pointer;
    height: 40px;
    padding: 0 12px;

}

.side-link p {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.side-link:hover {
    background-color: #F2F2F2;
    width: 204px;
    height: 40px;
    align-items: center;
    border-radius: 10px;
}

::-webkit-scrollbar {
    display: none;

}

.side-short {
    align-items: center;
    height: 74px;
    width: 64px;
    text-align: center;
    padding: 12px 0;


}

.side-short img {
    height: 24px;
    width: 24px;
    cursor: pointer;
    align-items: center;
    margin: auto;
    margin-bottom: 7px;

}

.side-short:hover {
    background-color: #F2F2F2;
    width: 64px;
    height: 74px;
    align-items: center;
    border-radius: 10px;
}